<footer class="{{ page.permalink == 'resume' ? 'resume' : nil }}">
  {% if page.permalink != 'resume' %}
    <div class="links">
      <a href="mailto:{{ site.author.email }}">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
      <a href="{{ site.author.github }}" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
      <a href="{{ site.author.linkedin }}" target="_blank">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </a>
    </div>
  {% endif %}

  {% if site.github.is_project_page %}
  <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
  {% endif %}
  <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
</footer>
