<header>
  {% if page.permalink == 'resume' %}
    <div class="site-title">{{ site.author.name }}</div>
    <p>Frontend developer<br/>Melbourne, Australia</p>
  {% else %}
    <div class="site-title"><a href="/">{{ site.title }}</a></div>
    <p class="description">{{ site.description | default: site.github.project_tagline }}</p>
  {% endif %}

  <div class="links">
    {% if page.permalink == 'resume' %}
      <a href="mailto:{{ site.author.email }}">
        {{ site.author.email }} <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
      <a href="{{ site.author.github }}" target="_blank">
        Github <i class="fa fa-github" aria-hidden="true"></i>
      </a>
      <a href="{{ site.author.linkedin }}" target="_blank">
        LinkedIn <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </a>
      <!-- <a href="/assets/files/">
        Download Resume <i class="fa fa-download" aria-hidden="true"></i>
      </a> -->
    {% else %}
      <a href="/archives">
        ARCHIVES <i class="fa fa-archive" aria-hidden="true"></i>
      </a>
      <a href="/tags">
        TAGS <i class="fa fa-tags" aria-hidden="true"></i>
      </a>
    {% endif %}
  </div>
</header>
