<header>
  <h1>{{ site.author.name }}</h1>
  <p>Frontend developer<br/>Melbourne, Australia</p>

  <div class="contact">
    <a href="mailto:{{ site.author.email }}">
      {{ site.author.email }} <i class="fa fa-envelope" aria-hidden="true"></i>
    </a>
    <a href="{{ site.author.github }}" target="_blank">
      Github <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    <a href="{{ site.author.linkedin }}" target="_blank">
      LinkedIn <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </a>
    <a href="/assets/files/">
      Download Resume <i class="fa fa-download" aria-hidden="true"></i>
    </a>
  </div>
</header>
